body{
font-family:Arial;
background:#f4f6f8;
margin:0;
}

.container{
width:100%;
margin:auto;
}


.header{
justify-content:space-between;
align-items:center;
background:#1564be;
color:white;
padding:15px 20px;
text-align: center;
}

.header p{
color:white;
margin-left:15px;
text-decoration:none;
}


.search-bar{
text-align: center;
margin:20px;
border-radius:10px;
padding:15px;
box-shadow:0 4px 10px rgba(0,0,0,0.1);
margin:5px;
}


.search-bar input{
padding:10px;
width:250px;
}


.stats{
text-align: center;
gap:20px;
padding:15px;
margin-bottom:20px;
border-radius:8px;
box-shadow:0 4px 10px rgba(0,0,0,0.1);
}


.car-card{
background:white;
border-radius:10px;
padding:15px;
box-shadow:0 4px 10px rgba(0,0,0,0.1);
margin:5px;
margin-bottom: 15px;
border: 1px solid #ccc;

}
.car-info {
  display: inline-block;
  margin-left: 10px;
  margin-right:20px;
}

.car-image {
  display: inline-block;
  width: auto;
  height: 200px;
  border-radius: 8px;
}

.delete-btn{
background:#ff4d4d;
border:none;
color:white;
padding:8px 12px;
cursor:pointer;
}


form{
text-align: center;
border-radius:10px;
padding:15px;
box-shadow:0 4px 10px rgba(0,0,0,0.1);
margin:20px 5px 20px 5px;
}

form input{
padding:10px;
margin-right:10px;
}

button{
padding:10px 15px;
cursor:pointer;
}


.footer{
margin-top:40px;
padding:20px;
text-align:center;
background:#1e1e1e;
color:white;
}
.hero {
  height: 400px;
  background-image: url("https://images.unsplash.com/photo-1503376780353-7e6692767b70");
  background-size: cover;
  background-position: center;

  display: flex;
  align-items: center;
  justify-content: center;

  color: white;
  text-align: center;
}

.hero-text h1 {
  font-size: 48px;
  margin-bottom: 10px;
}

.hero-text p {
  font-size: 20px;
  margin-bottom: 20px;
}

